.level-popup {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    align-items: center;
    justify-content: center;
}

#level-bg {
    width: 1350px;
    height: 450px;
    background-color: rgb(30, 30, 30);
    border-radius: 16px;
    padding: 24px;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url("project://database/Assets/UI/bg-popup_1.psd?fileID=2800000&guid=3496361ba5753e942960dcff1c362d26&type=3#bg-popup_1");
}

.chapter-label {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 50px;
    -unity-font-style: bold;
    -unity-text-align: middle-center;
    white-space: normal;
    text-overflow: clip;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.78);
}

.level-middle {
    top: 70px;
    left: 10px;
    bottom: 170px;
    right: 10px;
    position: absolute;
}

#level-content {
    flex-direction: row;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    align-items: flex-end;
    justify-content: space-around;
    margin-left: 0;
    margin-right: 0;
    visibility: visible;
    display: flex;
    overflow: visible;
}

.levelNormal-icon {
    width: 80px;
    height: 100px;
    background-image: url("project://database/Assets/UI/UI_Button/Dungeon/section_normal.png?fileID=2800000&guid=d7266316513204842ba0701ae3fcfdb5&type=3#section_normal");
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;
}

.levelTower-icon {
    width: 135px;
    height: 195px;
    background-image: url("project://database/Assets/UI/UI_Button/Dungeon/section_tower.png?fileID=2800000&guid=834d02350efbbba4382e2ffdd3e6a1f0&type=3#section_tower");
    margin-right: 0;
    margin-left: 0;
}

.levelBoss-icon {
    width: 170px;
    height: 210px;
    background-image: url("project://database/Assets/UI/UI_Button/Dungeon/section_boss.png?fileID=2800000&guid=6dde77b47bcb2cb48bf63ce11980b57e&type=3#section_boss");
    margin-right: 0;
    margin-left: 0;
}

#level-icon {
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

#close-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    padding: 0;
    align-items: center;
    justify-content: center;
    background-image: url("project://database/Assets/UI/UI_Button/%E6%8C%89%E9%92%AE_x.png?fileID=2800000&guid=10e7b79d92927814aaf6be3ea00efd1b&type=3#按钮_x");
}

.close-btn:active {
    scale: 0.92;
    background-image: url("project://database/Assets/UI/UI_Button/%E6%8C%89%E9%92%AE_x.png?fileID=2800000&guid=10e7b79d92927814aaf6be3ea00efd1b&type=3#按钮_x");
}

#level-middle {
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
}

.arrow-btn {
    width: 30px;
    height: 30px;
    background-color: rgb(30, 30, 30);
    border-radius: 0;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.arrow-btn:active {
    scale: 0.92;
    width: 30px;
    height: 30px;
}

#btn-prev {
    background-image: url("project://database/Assets/UI/Switch.png?fileID=2800000&guid=bc819d0d0acc98f499857891414c10b8&type=3#Switch");
    rotate: 180deg;
    margin: 0 1260px 0 -20px;
    padding-right: 0;
    padding-left: 0;
    -unity-background-image-tint-color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
    margin-right: 0;
    margin-left: 0;
    margin-bottom: -80px;
}

#btn-next {
    background-image: url("project://database/Assets/UI/Switch.png?fileID=2800000&guid=bc819d0d0acc98f499857891414c10b8&type=3#Switch");
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: -80px;
}

#level-dots {
    flex-direction: row;
    justify-content: center;
    margin-top: 12px;
    bottom: auto;
    width: 1080px;
    height: 20px;
    top: 415px;
    align-items: center;
    left: auto;
    right: 130px;
    position: absolute;
}

.chapter-dot {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    margin-left: 6px;
    margin-right: 6px;
    background-image: none;
}

.chapter-dot--active {
    background-color: white;
    width: 24px;
}
